/* ------------------------------------------------------------ */
/* ------ General tools, fonts, font-sizes and others... ------ */
/* ------------------------------------------------------------ */

/* Fonts Import */
@import url("https://fonts.googleapis.com/css?family=Shrikhand|Roboto&display=swap");

/* Fonts */
.font-roboto {
    font-family: "Roboto", sans-serif;
}

.font-Shrikhand {
    font-family: "Shrikhand", sans-serif;
}

/* size */
.xx-small {
    font-size: xx-small;
}

.x-small {
    font-size: x-small;
}
.small {
    font-size: small;
}

.medium {
    font-size: medium;
}

.large {
    font-size: large;
}

.x-large {
    font-size: x-large;
}

.xx-large {
    font-size: xx-large;
}

.unbold {
    font-weight: normal;
}

/* Paragraph */
p {
    margin-bottom: 8px;
    display: block;
}


/* Alignment Classes */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.block { /* base that most block uses */
    background: whitesmoke;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px lightgrey;
}

.link-without-underline {
    text-decoration: none;
}

/* Inserting this collapsed row between two flex items will make 
* the flex item that comes after it break to a new row
* <div class="break"></div> */
.break { 
    flex-basis: 100%;
    height: 0;
}

/*color theme*/
.color-primary {
    color: #9356dc;
}

.color-secondary {
    color: #FF79DA;
}

.color-tertiary {
    color: #99E2D0;
}


/* ------------------------------------------------------------ */
/* ---------------------- HTML Generals ----------------------- */
/* ------------------------------------------------------------ */

/* General Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

/* Body Base */
body {    
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.3;
    
    box-sizing: content-box;
    margin: 0px auto;
    padding: 0px;
    
    height: 100%;
    /* max-width: 1200px; */
}


/* ------------------------------------------------------------ */
/* -------------------------- Header -------------------------- */
/* ------------------------------------------------------------ */

header {
    height: 65px;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(210, 210, 210);
    
    position: relative;
    z-index: 1;
}

.button-back {
    position: absolute;
    
    top: 20px;
    left: 20px;
    
    height: 25px;
    width: 25px;
}

.logo {
    font-family: "Shrikhand", sans-serif;
    color: black;
    font-size: 32px;
    font-weight: normal;
    text-decoration: none;
    
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    
    cursor: pointer;
}


@media only screen and (min-width: 1201px){
    
}


/* ------------------------------------------------------------ */
/* --------------------------- Main --------------------------- */
/* ------------------------------------------------------------ */

main {
    height: max-content;
    width: 100%;
    background-color: whitesmoke;
    padding-bottom: 60px;
}

.title-restaurants {
    font-weight: bold;
    font-size: 24px;
    padding: 50px 0 5px 20px;
}

.restaurant-container {
    max-width: 1200px;
    display: grid;
    text-decoration: none;
    grid-template-rows: repeat(4, 310px);
}

.button-restaurant {
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px lightgrey;
    margin: 16px 22px 16px 22px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    
    position: relative; /* fix le block "nouveau" qui est en absolute*/
}

.button-restaurant:hover {
    transition-duration: 0.3s;
    transform: scale(1.03);
    filter: saturate(2);
}

.button-restaurant:not(hover) {
    transition-duration: 0.3s;
    transform: scale(1);
    filter: saturate(1);
}

.img-restaurant {
    position: relative;
    flex: 1;
    z-index: 10;
}

.img-restaurant-cropped {
    position: absolute;
    height: 100%;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.text-restaurant {
    margin: 12px 16px 14px 16px;
    font-size: 16px;
    line-height: 24px;
}

/* -- nouveau --*/
.restaurant-new {
    background-color: #99E2D0;
    
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 1;
    
    border-radius: 5px;
    
}

.restaurant-new-text {
    color: #227c66;
    font-size: 16px;
    font-weight: bolder;
    
    margin: 6px 16px 6px 16px;
}

/* -- like, favorite, heart */
.restaurant-favorite {
    position: absolute;
    bottom: 20px;
    right: 20px;
    
    width: 40px;
    height: 40px;
}

.restaurant-favorite-added {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    
    width: 40px;
    height: 40px;
    
    opacity:0;
}

.restaurant-favorite-added:hover {
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
    .restaurant-container {
        grid-template-rows: repeat(4, 270px);
    }
}

@media only screen and (min-width: 376px) and (max-width: 650px) {
    .restaurant-container {
        grid-template-rows: repeat(4, 310px);
    }
}

@media only screen and (min-width: 651px) and (max-width: 850px){
    .restaurant-container {
        grid-template-rows: repeat(2, 270px);
        grid-template-columns: repeat(2,50%);
    }
}

@media only screen and (min-width: 851px) {
    .restaurant-container {
        margin: 0 auto;
        grid-template-rows: repeat(2, 330px);
        grid-template-columns: repeat(2,50%);
    }
    
    .title-restaurants {
        padding: 40px 0 20px 20px;
        font-size: 28px;
        text-align: center;
    }
}

/* ------------------------------------------------------------ */
/* ----------------------- SECTION Menu ----------------------- */
/* ------------------------------------------------------------ */

.img-background { /*A voir si on laisse comme ça*/
    position: absolute;
    z-index: -1;
    width: 100%;
    max-width: 1200px;
    
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    filter: saturate(2);
}

.menu {
    margin-top: 270px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: whitesmoke;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.menu-title {
    padding: 20px 50px 0 20px;
    display: flex;
    justify-content: space-between;
}

/* -- like, favorite, heart */
.menu-restaurant-favorite {
    position: relative;
    
    width: 30px;
    height: 30px;
    
    margin: auto 0 auto 0;
}

.menu-restaurant-favorite-added {
    position: absolute;
    z-index: 10;
    
    width: 30px;
    height: 30px;
    
    /* position a la bourrin, a voir pour la refaire en dynamique*/
    top: 371px;
    right: 50px;
    
    opacity:0;
}

.menu-restaurant-favorite-added:hover {
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;
}


/* -- choice */
.name-type-choice {

    margin: 35px 0 0 20px;
    font-weight: normal;
}

.block-separator {
    background: #99E2D0;
    margin: 0 0 5px 20px;
    width: 45px;
    height: 4px;
}

.choice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    height: max-content;
    width: 100%;
}

.choice {
    display: flex;
    
    background-color: white;
    border-radius: 16px;
    box-shadow: 2px 2px 5px lightgrey;
    
    width: 94%;
    height: 75px;
    margin: 8px;
    
    cursor: pointer;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.choice:hover .choice-validate {
    width: 90px;
    transition-duration: 0.5s;
} 

.choice:hover .img-validate {
    transform: rotate(0deg);
    transition-duration: 0.5s;
} 

.choice:not(hover) .choice-validate {
    width: 0px;
    transition-duration: 0.5s;
} 

.choice:not(hover) .img-validate {
    transform: rotate(90deg);
    transition-duration: 0.5s;
} 

.choice-validate {
    background: #99E2D0;
    
    width: 0%;
    height: 100%;
    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
    display: flex;
    overflow: hidden;
}

.choice-validate-icon {
    /* position: relative;
    background: white;
    border-radius: 100%;
    height: 30px;
    width: 30px; */
    margin: auto;
    
    /* text-align: center;
    color: #99E2D0; */
}

.img-validate {
    height: 30px;
    width: 30px;
    transform: rotate(90deg);
}

.choice-block {
    width: 100%;
    
    font-size: 16px;
    line-height: 25px;
    
    display: flex;
}

.choice-main {
    width: 90%;
    padding: 12px;
    
    /* background-color: red; */
    
    overflow: hidden;
}

.choice-main-name {
    font-weight: bold;
    font-size: 20px;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.choice-main-accompaniment{    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.choice-price {
    width: 10%;
    padding: 36px 16px 12px 12px;
    
    /* background-color: cyan; */
    
    text-align: right;
    font-weight: bold;
}


@media only screen and (min-width: 0px) and (max-width: 375px) {
    .menu {
        margin-top: 170px;
    }
    
    .menu-restaurant-favorite-added {
        /* position a la bourrin, a voir pour la refaire en dynamique*/
        top: 291px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 500px) {
    .menu {
        margin-top: 220px;
    }
    
    .menu-restaurant-favorite-added {
        top: 321px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 700px){
    .menu {
        margin-top: 270px;
    }
    
    .menu-restaurant-favorite-added {
        top: 371px;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1000px){
    .menu {
        margin-top: 380px;
    }
    
    .menu-restaurant-favorite-added {
        top: 481px;
    }
}

@media only screen and (min-width: 1000px)  and (max-width: 1200px){
    .menu {
        margin-top: 500px;
    }
    
    .menu-restaurant-favorite-added {
        top: 601px;
    }
}

@media only screen and (min-width: 1201px) {
    .menu {
        margin-top: 580px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    
    .menu-restaurant-favorite-added {
        top: 681px;
    }
}



/* ------------------------------------------------------------ */
/* -------------------- SECTION Information ------------------- */
/* ------------------------------------------------------------ */

/*-------------------*/
.search-location {
    background-color: rgb(235, 235, 235);
    margin: 0 0 0 0;
    
    display: grid;
    grid-template-columns: auto 170px auto;
    justify-content:center;
}

.search-location input[type=search] {
    color: rgb(30, 30, 30);
    background-color: rgb(235, 235, 235);
    
    height: 60px;
    padding: 24px 6px 24px 12px;
    
    font-size: 17px;
    font-weight: bold;
    
    border-width:0px;
    border:none;
}

/*
.search-location input[type=search]:hover {
    border-width:0px;
    border:none;
    background-color: red;
}
*/

.button-getposition {
    cursor: pointer;
    margin: auto 0 auto 15px;
}

.img-getposition {
    
    width: 26px;
    height: 22px;
}

/*-------------------*/
.block-presentation {
    height: max-content;
    width: 100%;
    background-color: whitesmoke;
    
    text-align: center;
}

.presentation-first-text {
    font-weight:bold;
    font-size: 24px;
    padding: 36px 48px 0 48px;
}

.presentation-second-text {
    color: rgb(100, 100, 100);
    font-size: 18px;
    padding: 12px 36px 0 36px;
}


.button-explorer {
    margin: 0 auto 0 auto;
    
    background-color: #9356dc; /* For browsers that do not support gradients */
    background-image: linear-gradient(0deg, #9356dc, #FF79DA);
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(210, 210, 210);
    
    margin-top: 26px;
    text-align: center;
    width: max-content;
}


.button-explorer:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.button-explorer:not(hover) {
    transform: scale(1);
    transition-duration: 0.3s;
}


.button-explorer-text {
    color: white;
    font-size: 18px;
    padding: 16px 36px 16px 36px;
}

/*-------------------*/
.block-functionment
{
    background-color: white;
}

.title-functionment {
    font-weight:bold;
    font-size: 24px;
    padding: 42px 0 26px 20px;
}

.step-container {
    display: grid;
    grid-template-rows: repeat(3,70px);
    row-gap: 24px;
    
    justify-items: center;
}

.step-functionment {
    background-color: whitesmoke;
    border-radius: 25px;
    box-shadow: 2px 5px 5px rgb(230, 230, 230);
    width: 80%;
    
    display: grid;
    grid-template-columns: 5% 20% 75%;
    justify-content: center;
    
    cursor: pointer;
}

.step-functionment:hover {
    background-color: rgba(146, 86, 220, 0.25);
    transition-duration: 0.25s;
}

.step-functionment:not(hover) {
    background-color: whitesmoke;
    transition-duration: 0.25s;
}

.step-functionment-text {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.4px;
    /* text-align: center; */
    line-height: 70px; /* trouver une meilleur solution pour ça*/
}

.step-functionment-icon {
    margin: auto;
    width: 26px;
    height: 22px;
}

.step-functionment-number {
    background: #9356dc;
    margin: auto 0 auto 0;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    
    position: relative;
    left: -15px;
}

.step-functionment-number-text {
    padding: 5px 10px 5px 10px;
    color:white;
}


@media only screen and (min-width: 651px) {
    .title-functionment {
        text-align: center;
        padding: 20px 0 22px 0;
    }
    
    .step-container {
        display: grid;
        grid-template-rows: repeat(3,70px);
        row-gap: 24px;
        
        justify-items: center;
    }
    
    .step-functionment {
        width: 400px;
    }
    
    
}

/* ------------------------------------------------------------ */
/* --------------------- Loader animation --------------------- */
/* ------------------------------------------------------------ */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top:0;
    left:0;
    background-color: #227c65;
    
    display: block;
    /* justify-content: center;
    align-items: center; */
    
    animation: disappear 2s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes disappear {
    50% {
        display: block;
        opacity: 1;
    }
    
    100% {
        display: none;
        opacity: 0;
        pointer-events: none
    }
}

.lds-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 128px;
    height: 128px;
    margin: 8px;
    border: 16px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #9356dc transparent transparent transparent;

    border-image: linear-gradient(0deg, #9356dc, #99E2D0);
    /* background-color:#FF79DA; */
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.75s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.50s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.25s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



/* ------------------------------------------------------------ */
/* ------------------- Page fading animation ------------------ */
/* ------------------------------------------------------------ */

.fade-in {
    width: 100%;

    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* ------------------------------------------------------------ */
/* -------------------------- Footer -------------------------- */
/* ------------------------------------------------------------ */

footer {
    height: 200px;
    width: 100%;
    background-color: rgb(50, 50, 50);
    
}

.footer-text {
    padding-top: 25px;
    padding-left: 25px;
    
    line-height: 20px;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: white;
}

.footer-list {
    list-style-type:none;
}

.mini-logo {
    font-family: "Shrikhand", sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    
    padding-bottom: 16px;
    
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: white;
    line-height: 26px;
}

.nav-link-icon {
    width: 18px;
    height: 16px;
    
    vertical-align: middle;
    margin: 0 6px 0 0;
}