/* ------------------------------------------------------------ */
/* ------ General tools, fonts, font-sizes and others... ------ */
/* ------------------------------------------------------------ */

/* Fonts Import */
@import url("https://fonts.googleapis.com/css?family=Shrikhand|Roboto&display=swap");

/* Fonts */
.font-roboto {
    font-family: "Roboto", sans-serif;
}

.font-Shrikhand {
    font-family: "Shrikhand", sans-serif;
}

/* size */
.xx-small {
    font-size: xx-small;
}

.x-small {
    font-size: x-small;
}
.small {
    font-size: small;
}

.medium {
    font-size: medium;
}

.large {
    font-size: large;
}

.x-large {
    font-size: x-large;
}

.xx-large {
    font-size: xx-large;
}

/* Paragraph */
p {
    margin-bottom: 8px;
    display: block;
}


/* Alignment Classes */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.block { /* base that most block uses */
    background: whitesmoke;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px lightgrey;
}

.link-without-underline {
    text-decoration: none;
}

/* Inserting this collapsed row between two flex items will make 
* the flex item that comes after it break to a new row
* <div class="break"></div> */
.break { 
    flex-basis: 100%;
    height: 0;
}



/*color theme*/
.color-primary {
    color: #9356dc;
}

.color-secondary {
    color: #FF79DA;
}

.color-tertiary {
    color: #99E2D0;
}


/* ------------------------------------------------------------ */
/* ---------------------- HTML Generals ----------------------- */
/* ------------------------------------------------------------ */

/* General Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

/* Body Base */
body {    
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.3;
    
    box-sizing: content-box;
    margin: 0px auto;
    padding: 0px;
    
    height: 100%;
}


/* ------------------------------------------------------------ */
/* -------------------------- Header -------------------------- */
/* ------------------------------------------------------------ */

header {
    height: 65px;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(210, 210, 210);
    
    position: relative;
    z-index: 1;
}

.button-back {
    position: absolute;
    
    top: 20px;
    left: 20px;
    
    height: 25px;
    width: auto;
}

.logo {
    font-family: "Shrikhand", sans-serif;
    color: black;
    font-size: 32px;
    font-weight: normal;
    text-decoration: none;
    
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}


@media only screen and (min-width: 651px){
    
}


/* ------------------------------------------------------------ */
/* --------------------------- Main --------------------------- */
/* ------------------------------------------------------------ */

main {
    height: max-content;
    width: 100%;
    background-color: whitesmoke;
    padding-bottom: 60px;
}

.title-restaurants {
    font-weight: bold;
    font-size: 24px;
    padding: 50px 0 5px 20px;
}

.restaurant-container {
    max-width: 1200px;
    display: grid;
    text-decoration: none;
    grid-template-rows: repeat(4, 310px);
}

.button-restaurant {
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px lightgrey;
    margin: 16px 22px 16px 22px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    
    position: relative; /* fix le block "nouveau" qui est en absolute*/
}

.button-restaurant:hover {
    transition-duration: 0.2s;
    transform: scale(1.03);
    filter: saturate(2);
}

.img-restaurant {
    position: relative;
    flex: 1;
}

.img-restaurant-cropped {
    position: absolute;
    height: 100%;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

.text-restaurant {
    margin: 12px 16px 14px 16px;
    font-size: 16px;
    line-height: 24px;
}

/* -- nouveau --*/
.restaurant-new {
    background-color: #99E2D0;
    
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 1;
    
    border-radius: 5px;
    
}

.restaurant-new-text {
    color: #227c66;
    font-size: 16px;
    font-weight: bolder;
    
    margin: 6px 16px 6px 16px;
}

/* -- like, favorite, heart */
.restaurant-favorite {
    position: absolute;
    bottom: 20px;
    right: 20px;
    
    width: 40px;
    height: 40px;
}

.restaurant-favorite-added {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    
    width: 40px;
    height: 40px;
    
    visibility:hidden;
}

.restaurant-favorite-added:hover {
    visibility: visible;
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
    .restaurant-container {
        grid-template-rows: repeat(4, 270px);
    }
}

@media only screen and (min-width: 376px) and (max-width: 650px) {
    .restaurant-container {
        grid-template-rows: repeat(4, 310px);
    }
}

@media only screen and (min-width: 651px) and (max-width: 850px){
    .restaurant-container {
        grid-template-rows: repeat(2, 270px);
        grid-template-columns: repeat(2,50%);
    }
}

@media only screen and (min-width: 851px) {
    .restaurant-container {
        margin: 0 auto;
        grid-template-rows: repeat(2, 330px);
        grid-template-columns: repeat(2,50%);
    }
    
    .title-restaurants {
        padding: 40px 0 20px 20px;
        font-size: 28px;
        text-align: center;
    }
}

/* ------------------------------------------------------------ */
/* ----------------------- SECTION Menu ----------------------- */
/* ------------------------------------------------------------ */

.img-background { /*A voir si on laisse comme ça*/
    position: absolute;
    z-index: -1;
    width: 100%;
}

.menu {
    margin-top: 270px;
    
    background-color: whitesmoke;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.menu-title {
    padding: 20px 50px 0 20px;
    display: flex;
    justify-content: space-between;
}

/* -- like, favorite, heart */
.menu-restaurant-favorite {
    width: 30px;
    height: 30px;
    
    margin: auto 0 auto 0;
}

.menu-restaurant-favorite-added {
    z-index: 10;
    
    width: 30px;
    height: 30px;
    
    visibility:hidden;
}

.menu-restaurant-favorite-added:hover {
    visibility:visible;
}

/* -- choice */
.name-type-choice {
    margin: 35px 0 0 20px;
}

.block-separator {
    background: #99E2D0;
    margin: 0 0 5px 20px;
    width: 45px;
    height: 4px;
}

.choice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: max-content;
    width: 100%;
    
}

.block-choice {
    background-color: white;
    border-radius: 16px;
    box-shadow: 2px 2px 5px lightgrey;
    
    width: 94%;
    margin: 8px 3% 8px 3%;
    padding: 12px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    font-size: 16px;
    line-height: 25px;
    
    display: grid;
    grid-template-areas:
    'header header'
    'accomp price';
}

/* .block-choice:hover {
    background-color: red;
    transition-duration: 0.25s;
} */

/* .block-choice:not(hover) {
    background-color: white;
    transition-duration: 0.25s;
} */

.choice-validate {
    grid-area: valid;
    
    background: #99E2D0;
    position: absolute;
    width: 80px;
    height: 75px;
    
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.choice-name {
    grid-area: header;
    
    font-weight: bold;
    font-size: 20px;
}

.choice-accompaniment{    
    grid-area: accomp;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.choice-price {
    grid-area: price;
    
    text-align: right;
    font-weight: bold;
    padding-right: 16px;
}




/* ------------------------------------------------------------ */
/* -------------------- SECTION Information ------------------- */
/* ------------------------------------------------------------ */

/*-------------------*/
.search-location {
    background-color: rgb(235, 235, 235);
    margin: 0 0 0 0;
    
    display: grid;
    grid-template-columns: auto 170px auto;
    justify-content:center;
}

.search-location input[type=search] {
    color: rgb(30, 30, 30);
    background-color: rgb(235, 235, 235);
    
    height: 60px;
    padding: 24px 6px 24px 12px;
    
    font-size: 17px;
    font-weight: bold;
    
    border-width:0px;
    border:none;
}

/*
.search-location input[type=search]:hover {
    border-width:0px;
    border:none;
    background-color: red;
}
*/

.button-getposition {
    cursor: pointer;
    margin: auto 0 auto 15px;
}

.img-getposition {
    
    width: 26px;
    height: 22px;
}

/*-------------------*/
.block-presentation {
    height: max-content;
    width: 100%;
    background-color: whitesmoke;
    
    text-align: center;
}

.presentation-first-text {
    font-weight:bold;
    font-size: 24px;
    padding: 36px 48px 0 48px;
}

.presentation-second-text {
    color: rgb(100, 100, 100);
    font-size: 18px;
    padding: 12px 36px 0 36px;
}


.button-explorer {
    margin: 0 auto 0 auto;
    
    background-color: #9356dc; /* For browsers that do not support gradients */
    background-image: linear-gradient(0deg, #9356dc, #FF79DA);
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(210, 210, 210);
    
    margin-top: 26px;
    text-align: center;
    width: max-content;
}


.button-explorer:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.button-explorer:not(hover) {
    transform: scale(1);
    transition-duration: 0.3s;
}


.button-explorer-text {
    color: white;
    font-size: 18px;
    padding: 16px 36px 16px 36px;
}

/*-------------------*/
.block-functionment
{
    background-color: white;
}

.title-functionment {
    font-weight:bold;
    font-size: 24px;
    padding: 42px 0 26px 20px;
}

.step-container {
    display: grid;
    grid-template-rows: repeat(3,70px);
    row-gap: 24px;
    
    justify-items: center;
}

.step-functionment {
    background-color: whitesmoke;
    border-radius: 25px;
    box-shadow: 2px 5px 5px rgb(230, 230, 230);
    width: 80%;
    
    display: grid;
    grid-template-columns: 5% 20% 75%;
    justify-content: center;
}

.step-functionment:hover {
    background-color: rgba(146, 86, 220, 0.25);
    transition-duration: 0.25s;
}

.step-functionment:not(hover) {
    background-color: whitesmoke;
    transition-duration: 0.25s;
}

.step-functionment-text {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.4px;
    /* text-align: center; */
    line-height: 70px; /* trouver une meilleur solution pour ça*/
}

.step-functionment-icon {
    margin: auto;
    width: 26px;
    height: 22px;
}

.step-functionment-number {
    background: #9356dc;
    margin: auto 0 auto 0;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    
    position: relative;
    left: -15px;
}

.step-functionment-number-text {
    padding: 5px 10px 5px 10px;
    color:white;
}


@media only screen and (min-width: 651px) {
    .title-functionment {
        text-align: center;
        padding: 20px 0 22px 0;
    }
    
    .step-container {
        display: grid;
        grid-template-rows: repeat(3,70px);
        row-gap: 24px;
        
        justify-items: center;
    }
    
    .step-functionment {
        width: 400px;
    }
    
    
}

/* ------------------------------------------------------------ */
/* -------------------------- Loader -------------------------- */
/* ------------------------------------------------------------ */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top:0;
    left:0;
    background-color: #227c65;
    
    display: flex;
    justify-content: center;
    align-items: center;

    animation: disappear 2s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.loader {
    background-color:#9256dc;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 20%;
    position: relative;
    border: 4px solid #Fff;

    animation: rotating 3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}


@keyframes rotating {
    0% {
        transform: rotate(360deg);
    }

    100% {
        display: none;
        opacity: 0;
        pointer-events: none
    }
}

@keyframes disappear {
    100% {
        display: none;
        opacity: 0;
        pointer-events: none
    }
}


/* ------------------------------------------------------------ */
/* -------------------------- Footer -------------------------- */
/* ------------------------------------------------------------ */

footer {
    height: 200px;
    width: 100%;
    background-color: rgb(50, 50, 50);
    
}

.footer-text {
    padding-top: 25px;
    padding-left: 25px;
    
    line-height: 20px;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: white;
    
}

.mini-logo {
    font-family: "Shrikhand", sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    
    padding-bottom: 16px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link-icon {
    width: 18px;
    height: 16px;
    
    vertical-align: middle;
    margin: 0 6px 0 0;
}